.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: white;
}

.nav-logo{
    font-family: outfit;
    font-size: 72px;
    
    margin-top: 120px;
    font-weight: 900;
    justify-content: center;
}

.navbarli {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-left: 20px;
   
    font-size: 18px;
    font-weight: 500;
    gap: 80px;
  }

  .navbarli li a {
    list-style-type: none;
    color: #fff;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 18px;
     text-decoration: none;
    font-weight: 500;
    gap: 80px;
  }

.nav-content{
    border-radius: 10px;
    padding: 5px 2px;
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #262626;
    margin-top: -50px;
    margin-left: 30px;
   
}

.navi{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 1200px;
    color: #bac2e6;
}
