.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    padding: 20px;
    background-color: #f0f0f0; 
  }
  
  .postal, .email, .phone, .fax {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .postal h2, .email h2, .phone h2, .fax h2 {
    color: #2648c3; 
  }
  
  .postal p, .phone p, .fax p {
    margin: 0;
  }
  
  .email a {
    color: #2648c3; 
    text-decoration: none;
  }
  
  .email a:hover {
    text-decoration: underline;
  }
  