/*body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.logo{
  display: flex;
  width: 200px;
  height: 100px;
  margin-top: 10px;
  margin-left: 100px;
}

.logo1{
  display: flex;
  width: 650px;
  height: 550px;
  margin-top: -280px;
  margin-left: 720px;
}

.teadas{
  
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 100px;
  width: 100vw;
  height: 100vh;
  margin-top: -20px;
  
}

.maincom h1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
  font-size: 32px;
  font-weight: 600;
  margin-top: 100px;
  margin-left: 110px
  }
*/