 .sign-body{
  background: #b3e5fc;
background: -webkit-linear-gradient(to right, #b3e5fc, #81d4fa, #4fc3f7);
background: linear-gradient(to right, #b3e5fc, #81d4fa, #4fc3f7);

  
    width: 100vw;
    height: 100vh;
    margin-top: -40px;
    margin-left: -20px;
    margin-bottom: 20px
  }
  
  .image-container{
    display: flex;
    flex-direction: column;

  }

  .image-container img{
    width: 600px;
    height: 600px;
  }

  .login-form{
    display: flex;
    flex-direction: row;
  }

  .input1{
  width: 90%;
  padding: 10px;
  gap:50px;
  margin-bottom:2px;
  margin-top:50px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 20px;
  color: #fff;
  outline: none;
  
  &::placeholder {
    color: #fff; /* Placeholder text color */
  }
}

 .input2{
    width: 90%;
    padding: 10px;
    gap:50px;
    margin-bottom:2px;
    margin-top:50px;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 10px;
    color: #fff;
    outline: none;
    
    &::placeholder {
      color: #fff; /* Placeholder text color */
 }

  }

  .userN{
    width: 90%;
    padding: 10px;
    gap:50px;
    margin-bottom:2px;
    margin-top:50px;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 10px;
    color: #fff;
    outline: none;
  }

  .passW{
    width: 90%;
    padding: 10px;
    gap:50px;
    margin-bottom:2px;
    margin-top:50px;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 10px;
    color: #fff;
    outline: none;
  }
