.teacher-marks {
  display: flex;
  height: 100vh; 
}

.TeacherSidebar {
  width: 250px; 
}

.marks-container {
  flex-grow: 1; 
  padding: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 28px;
  font-weight: 800;
  color: #2648c3;
  margin-top: 20px;
}

.profile-container {
  width: 100%;
  margin: 20px 0;
}

.profile {
  display: flex;
  align-items: center;
  color: #2648c3;
  gap: 5px;
  font-size: 19px;
}

.profile img {
  width: 24px;
  height: 24px;
  border-radius: 15px;
}

.courses {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.e22, .e21, .e20, .e19 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(216, 232, 240);
  padding: 15px;
  border-radius: 8px;
  width: 280px;
  height: 50px;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
}

.e22 p, .e21 p, .e20 p, .e19 p {
  font-size: 15px;
  color: black;
  text-align: center;
  padding: 0;
}

.e22-btn, .e21-btn, .e20-btn, .e19-btn {
  background-color: #3a3ab8;
  color: white;
  border: none;
  text-align: center;
  padding: 5px 35px;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 18px;
}

.e22-btn:hover, .e21-btn:hover, .e20-btn:hover, .e19-btn:hover {
  background-color: #2980b9;
}

.viewmark {
  display: flex;
  height: 100vh; 
}

.StudentSidebar {
  width: 250px; 
}

.title1 {
  font-size: 28px;
  font-weight: 800;
  color: #2648c3;
  margin-top: 20px;
} 

.marks-box {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 45px;
}

.marks-box .prop, .prog, .fin {
  border: 0px solid #000;
  border-radius: 10px;
  padding: 10px;
  width: 240px;
  height: 100px;
  align-items: center;
  background:#dfecf7;
}

.marks-box .prop p, .prog p, .fin p {
  font-size: 18px;
  margin-top: 5px;
}

.marks-box .prop h1, .prog h1, .fin h1 {
  color: #3239f6;
  margin-left: 12px;
}