/* Common styles for both Marks and ViewMarks */

/* Container for the whole view */
.marks {
    display: flex;
    height: 100vh; 
  }
  
  /* Sidebar styling */
  .TeacherSidebar, .StudentSidebar {
    width: 250px; 
  }

  .title-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Main container where the table is displayed */
  .viewmarks, .marks-container {
    flex-grow: 1; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Title styling */
  .title, .title1 {
    font-size: 28px;
    font-weight: 800;
    color: #2648c3;
    margin-top: 20px;
  }
  
  /* Profile container */
  .profile-container {
    width: 100%;
    margin: 20px 0;
  }
  
  /* Profile styling */
  .profile {
    display: flex;
    align-items: center;
    color: #2648c3;
    gap: 5px;
    font-size: 19px;
  }
  
  .profile img {
    width: 24px;
    height: 24px;
    border-radius: 15px;
  }
  
  /* Selection box for evaluation type */
  .table-selection {
    margin-top: 20px;
  }
  
  /* Table container with overflow */
  .table-container {
    padding: 20px;
    background-color: #EFF4FF; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
  }
  
  /* Table styles */
  table {
    
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff; 
    border-radius: 8px;
    overflow: hidden;
  }
  
  thead th {
    background-color: #3366CC; 
    color: #FFFFFF;
    text-align: left;
    padding: 12px 15px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  tbody tr:nth-child(even) {
    background-color: #F7FAFF; 
  }
  
  tbody tr:hover {
    background-color: #E0E8FF; 
  }
  
  tbody td {
    padding: 12px 15px;
    color: #333333;
    border-bottom: 1px solid #dddddd;
  }
  
  /* Input fields */
  input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Buttons */
  .upload-button, .submit-button {
    background-color: #2563EB;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .upload-button:hover, .submit-button:hover {
    background-color: #2563EB;
  }
  
  /* Media query for responsive design */
  @media (max-width: 768px) {
    table {
      font-size: 14px;
    }
  
    thead {
      display: none; 
    }
  
    tbody td {
      display: block;
      text-align: right;
      padding-left: 50%;
      position: relative;
    }
  
    tbody td::before {
      content: attr(data-label);
      position: absolute;
      left: 15px;
      font-weight: bold;
      text-transform: uppercase;
      color: #555555;
    }
  
    tbody tr {
      border-bottom: 1px solid #dddddd;
      margin-bottom: 10px;
    }
  }
  