.hero{
    margin: 0px 100px;
    margin-top: 200px;
}

.hero-text{
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    line-height: 100px;
}

.hero-dot-play{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}

.hero-dots{
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}

.hero-dot{
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 7.5px;
    cursor: pointer;
}

.hero-dot.orange{
    background: orangered;
}

.hero-play{
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-play p{
    color: #fff;
    font-size: 19px;
}